<div class="parallax filter-gradient orange" data-color="orange">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/img/showcases/showcase-1/bg.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="description">
                    <h2>Showcase 1 - Be serious about your music.</h2>
                    <br>
                    <h5>PlayIT! will become your favorite. It offers a list of features long enough that we could sit here talking about it all day. But, if you're serious about your music, you should definitely take a look. Find us one every market!</h5>
                </div>
                <div class="buttons">
                    <button class="btn btn-fill btn-neutral">
                    <i class="fa fa-apple"></i> Appstore
                    </button>
                    <button class="btn btn-simple btn-neutral">
                    <i class="fa fa-android"></i>
                    </button>
                    <button class="btn btn-simple btn-neutral">
                    <i class="fa fa-windows"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-5  hidden-xs">
                <div class="parallax-image">
                    <img class="phone" src="assets/img/showcases/showcase-1/iphone.png">
                </div>
            </div>
        </div>
    </div>
</div>